
@{
    ViewBag.Title = "manage";
}
<br />
<br />
<div class="container">
    <div class="row">

        <div class="col-md-3">
            <div class="panel-group">
                <div class="panel panel-warning">

                    <a data-toggle="collapse" href="#stockmanagers" class="panel-warning" style="text-decoration: none;">
                        <div class="panel-heading">

                            <h4 class="panel-title">
                                Stock managers
                            </h4>
                        </div>
                    </a>

                    <div id="stockmanagers" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div>
                                <a href="/stockmanagers/index" style="text-decoration: none;">
                                    All stock managers <span class="glyphicon glyphicon-list"></span>
                                </a>
                            </div>
                            <div>
                                <a href="/UsersAdmin/create">
                                    Add Stock manager  <span class="glyphicon glyphicon-import"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel-group">
                <div class="panel panel-warning">
                    <a data-toggle="collapse" href="#suppliers" class="panel-warning" style="text-decoration: none;">
                        <div class="panel-heading">

                            <h4 class="panel-title">
                                Suppliers
                            </h4>
                        </div>
                    </a>

                    <div id="suppliers" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div>
                                <a href="/suppliers/index" style="text-decoration: none;">
                                    All Suppliers <span class="glyphicon glyphicon-list"></span>
                                </a>
                            </div>
                            <div>
                                <a href="/UsersAdmin/create">
                                    Add Suppliers  <span class="glyphicon glyphicon-import"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel-group">
                <div class="panel panel-warning">

                    <a data-toggle="collapse" href="#parcelhandlers" class="panel-warning" style="text-decoration: none;">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Parcel Handlers
                            </h4>
                        </div>
                    </a>
                    <div id="parcelhandlers" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div>
                                <a href="/parcelhandlers/index" style="text-decoration: none;">
                                    All Parcel Handlers <span class="glyphicon glyphicon-list"></span>
                                </a>
                            </div>
                            <div>
                                <a href="/UsersAdmin/create">
                                    Add Parcel Handlers  <span class="glyphicon glyphicon-import"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel-group">
                <div class="panel panel-warning">

                    <a data-toggle="collapse" href="#drivers" class="panel-warning" style="text-decoration: none;">
                        <div class="panel-heading">

                            <h4 class="panel-title">
                                Drivers
                            </h4>
                        </div>
                    </a>

                    <div id="drivers" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div>
                                <a href="/drivers/index" style="text-decoration: none;">
                                    All Drivers <span class="glyphicon glyphicon-list"></span>
                                </a>
                            </div>
                            <div>
                                <a href="/UsersAdmin/create">
                                    Add Drivers  <span class="glyphicon glyphicon-import"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel-group">
                <div class="panel panel-warning">
                    <a data-toggle="collapse" href="#customers" class="panel-warning" style="text-decoration: none;">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Customers
                            </h4>
                        </div>
                    </a>
                    <div id="customers" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div>
                                <a href="/addinfoes/index" style="text-decoration: none;">
                                    All Customers <span class="glyphicon glyphicon-list"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="panel-group">
                <div class="panel panel-warning">
                    <a data-toggle="collapse" href="#inventoryproducts" class="panel-warning" style="text-decoration: none;">
                        <div class="panel-heading">

                            <h4 class="panel-title">
                                Products
                            </h4>
                        </div>
                    </a>

                    <div id="inventoryproducts" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div>
                                <a href="/inventoryproducts/index" style="text-decoration: none;">
                                    All Products <span class="glyphicon glyphicon-list"></span>
                                </a>
                            </div>
                            <div>
                                <a href="/inventoryproducts/create">
                                    Add Products  <span class="glyphicon glyphicon-import"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel-group">
                <div class="panel panel-warning">

                    <a data-toggle="collapse" href="#brands" class="panel-warning" style="text-decoration: none;">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Brands
                            </h4>
                        </div>
                    </a>
                    <div id="brands" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div>
                                <a href="/brands/index" style="text-decoration: none;">
                                    All Brands <span class="glyphicon glyphicon-list"></span>
                                </a>
                            </div>
                            <div>
                                <a href="/brands/create">
                                    Add Brands  <span class="glyphicon glyphicon-import"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel-group">
                <div class="panel panel-warning">

                    <a data-toggle="collapse" href="#Category_" class="panel-warning" style="text-decoration: none;">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Categories
                            </h4>
                        </div>
                    </a>

                    <div id="Category_" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div>
                                <a href="/Category_/index" style="text-decoration: none;">
                                    All Categories <span class="glyphicon glyphicon-list"></span>
                                </a>
                            </div>
                            <div>
                                <a href="/Category_/create">
                                    Add Categories  <span class="glyphicon glyphicon-import"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-3">
            <div class="panel-group">
                <div class="panel panel-warning">

                    <a data-toggle="collapse" href="#orders" class="panel-warning" style="text-decoration: none;">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Orders
                            </h4>
                        </div>
                    </a>

                    <div id="orders" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div>
                                <a href="/orders/index" style="text-decoration: none;">
                                    View All Orders <span class="glyphicon glyphicon-list"></span>
                                </a>
                            </div>

                            <div>
                                <a href="/Orders/getMonthSales" style="text-decoration: none;">
                                    View Sales Report <span class="glyphicon glyphicon-list"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-3">
            <div class="panel-group">
                <div class="panel panel-warning">
                    <a data-toggle="collapse" href="#lowstocks" class="panel-warning" style="text-decoration: none;">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Manage  Stock
                            </h4>
                        </div>
                    </a>
                    <div id="lowstocks" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div>
                                <a href="/inventoryproducts/alert" style="text-decoration: none;">
                                    Low/Out of Stock  <span class="glyphicon glyphicon-list"></span>
                                </a>
                            </div>
                            <div>
                                <a href="/ordersupplies/Index" style="text-decoration: none;">
                                   View Ordered Stock  <span class="glyphicon glyphicon-list"></span>
                                </a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel-group">
                <div class="panel panel-warning">
                    <a data-toggle="collapse" href="#trackorders" class="panel-warning" style="text-decoration: none;">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                Track Orders
                            </h4>
                        </div>
                    </a>
                    <div id="trackorders" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div>
                                <a href="/trackorders/index" style="text-decoration: none;">
                                    Track Orders Progress <span class="glyphicon glyphicon-search"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
